@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');

* {
  font-family: 'Marcellus SC', serif;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

body {
  background: url("../images/bg.jpg") no-repeat top center;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100vh;
  color: #141111;
}

.container {
  padding: 0 16px;
}

.title {
  font-size: 36px;
  font-weight: normal;
}

.profile {
  max-width: 415px;
  box-sizing: border-box;
  margin: 0 auto;
}

.profile h1{
  color: #062e52;
}

.box {
  background: #eee;
  padding: 4rem;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.16);
  border-radius: 50px;
  text-align: center;
  margin-top: 1.5rem;
}

.profile-pic {
  border-radius: 50%;
  margin: 0 auto 2rem auto;
  box-shadow: 2px 2px 16px #062e52;
}

.profile span {
  font-size: 24px;
}

.profile p {
  font-size: 18px;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.redes-sociais {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}

.redes-sociais li {
  margin-right: 1rem;
}

.portfolio {
  max-width: 886px;
  box-sizing: border-box;
}

.portfolio h1{
  color: #062e52;
}

.portfolio h2{
  color: #062e52;
}

.portfolio ul {
  margin-top: 3rem;
}

.portfolio li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  gap: 1rem;
  color: #606060;
}

.portfolio li + li {
  margin-top: 2rem;
}

.portfolio img {
  border-radius: 10px;
}

.portfolio h2 {
  font-weight: normal;
  margin-bottom: 1rem;
}

.gl img{
  width: 32px;
  float: left;
  border-radius: 10px;
  padding-right: 8px;
}

.wd img{
  width: 32px;
  float: left;
  border-radius: 10px;
  padding-right: 8px;
}

.gd img{
  width: 32px;
  float: left;
  border-radius: 10px;
  padding-right: 8px;
}

.copyright {
  font-size: 24px;
  color: white;
  text-shadow: #062e52;
  margin-top: 10rem;
  padding-bottom: 10rem;
  text-align: center;
}

.images_gd img{
  width: 55%;
  display: block;
  margin: 0px auto;
  margin-top: 35px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 16px #062e52;
}

@media (max-width: 600px) {
  body {
    background: url("../images/bg_vertical.jpg") no-repeat top center;
    background-attachment: initial;
    background-size: contain;
    background-color: #f0e6da;
  }
  .box {
    padding: 2rem;
    margin-top: 4rem;
    border-radius: 30px;
  }
  .box:first-child {
    padding: 3rem;
  }
  .portfolio ul {
    margin-top: 1rem;
  }
  .portfolio li {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .portfolio li div {
    max-width: 448px;
  }
  .copyright {
    font-size: 18px;
    color: #606060;
    text-shadow: #062e52;
    margin: 0;
    padding: 4rem 0;
  }
}
